		<div>
			&nbsp;
		</div>
		<div class="console-menu">
			<ul class="console-menu">
				<li class='title'>RETURN</li>
				<li><%= link_to('Console', members_console_path) %></li>
				<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
			</ul>
		</div>