/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/********************************************* GENERAL *********************************************/

#container {
	min-height: 100%;
	min-width: 100%;
	position: relative;
	margin: 0px;
	padding: 0px;
}
div.body {
	margin: 0;
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 150px;
	width: 100%;
	z-index: 1;
	position: relative;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Lucida Sans", sans-serif;
	background-color: #555;
	color: #CCC;
}
[class*="col-"] {
	float: left;
	padding: 15px;
	border: 0px;
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

 * {
 	box-sizing: border-box;
 }

/********************************************* MOBILE SIZE *********************************************/
@media only screen and (max-width: 600px) {
    /* For mobile phones: */

    [class*="col-"] {
        width: 100%;
    }

    img {
		max-width: 100%;
		height: auto;
	}
	ul.navigation-bar {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		width: 100%;
		overflow: hidden;
		background-color: #222;
		float: right;
	}
	ul.navigation-bar li:not(:first-child) {display: none;}

	ul.navigation-bar li.icon {
		float: right;
		display: inline-block;
	}
	div.header-image {
		margin: 0px; 
		padding: 0px;
		left: 0;
		width: 100%;
		overflow: hidden;
		position: relative;
	}
	img.header-image {
		position: relative;
	}
	.header-image.responsive {
		position: relative;
	}

	/********************************************* RESPONSIVE *********************************************/

	ul.navigation-bar.responsive {position: relative;}

	ul.navigation-bar.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	ul.navigation-bar.responsive li {
		float: none;
		display: inline;
	}

	ul.navigation-bar.responsive li a {
		display: block;
		text-align: left;
	}
	div.nav.responsive {
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		background-color: red;
		width: 100%;
		left: 0px;
		top: 0px;
		position: absolute;
		z-index: 100;
	}

}/* end mobile size */


/********************************************* DESKTOP SIZE **********************************************/
@media only screen and (min-width: 600px) {

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	ul.navigation-bar li.icon {display: none;}

	div.header-image {
		margin: 0px; 
		padding: 0px;
		padding-top: 20px;
		background-color: #555;
		width: 100%;
		padding-bottom: 20px;
		overflow: hidden;
		z-index: 1;
		height: auto;
	}
	img.header-image {
		width: 100%;
		left: 0;
		padding: 0;
		margin: 0;
	}



	ul.navigation-bar {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		background-color: #222;
		float: right;
	}

} /* end desktop size */

 /********************************** Navigation **********************************/

div.nav {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 100%;
	left: 0px;
	top: 0px;
	position: fixed;
	z-index: 100;
	background-color: #222;
}

ul.navigation-bar li {float: left;}

ul.navigation-bar li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
	}
ul.navigation-bar li a:hover {background-color: #111;}

/********************************** Footer **********************************/

div.footer {
	left: 0;
	right: 0;
	height: 150px;
	position: absolute;
	bottom: 0;
	background-color: #333;
	z-index: 100;
}			
