
<div class="row">
	<%= render 'sidebars/corporation_sidebar' %>
	<div class="col-10">
		<div class="content-background">
			<div class='title'>
				Corporation Overview
			</div>
			<div>
				<ul>
					<li>Account Balances</li>
					<li>Month to Date Profits</li>
					<li>Current Member Count</li>
					<li>What are we</li>
					<li>Where do we operate</li>
					<li>Current source of revenues</li>
					<li>Current Members</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>

			</div>
		</div>
	</div>
</div>