<div class="row">
	<%= render 'sidebars/console_sidebar' %>
	<div class="col-10">
		<div class='title'>
			Console
		</div>
		<div class="content-background">
			<div>
				Console Text Area
			</div>
		</div>
	</div>
</div>